.container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 100vh;
overflow: hidden;
}

.home__welcome-message{
display: grid;
grid-template-rows: 1fr;
justify-content: center;
padding: 40px 0;
font-size: 25px;
font-weight:800;
color: var(--text-color);
transition: color 0.4s;
}


.home__description-container{
position: relative;
padding: 10px;
}

.home__description-1{
text-align: center;
padding-bottom: 5px;
font-size: 20px;
font-weight: 600;
transition: color 0.4s;
}

.home__description-2{
text-align: center;
font-weight: 500;
font-size:20px;
color: var(--text-color-light);
margin-bottom: 15px;
transition: color 0.4s;
}

.home__image{
width:100%;
height:30%;
margin-bottom: 30px;
}

.home__get-started{
font-family: 'Nunito Sans', sans-serif;
font-weight: 700;
font-size:15px;
display:block;
margin: 0 auto;
width: 70%;
padding:20px 20px;
align-items: center;
border:none;
border-radius: 8px;
color: white;
background-color: var(--text-color);
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
cursor: pointer;
transition: background-color 0.4s;
-webkit-animation: bounce-top 0.9s both;
animation: bounce-top 0.9s both;
}

.home__get-started i{
vertical-align: -2px;
color: white;
transition: color 0.4s;
}

.home__get-started:hover{
background-color: #080808;
}

/* Animation bounce-top */

@-webkit-keyframes bounce-top {
0% {
-webkit-transform: translateY(-45px);
transform: translateY(-45px);
-webkit-animation-timing-function: ease-in;
animation-timing-function: ease-in;
opacity: 1;
}
24% {
    opacity: 1;
}
40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}
65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}
82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}
93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}
25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}
100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
}
}
@keyframes bounce-top {
0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
}
24% {
    opacity: 1;
}
40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
}
65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
}
82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
}
93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
}
25%,
55%,
75%,
87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}
100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
}
}


@media screen and (min-width: 1150px){
    .container{
    margin-inline: auto;
    }

    .home__welcome-message{
    font-size: 50px;
    padding: 10px 0;
    }

    .home__description-1{
    padding-bottom: 10px;
    font-size: 30px;
    }

    .home__description-2{
    font-size:25px;
    }

    .home__image{
    width:100%;
    height:50%;
    }
    
    .home__get-started{
    font-size:30px;
    width: 20%;
    padding:15px 15px;
    }
}
